<!doctype html>

<html ng-app="banditApp">

<head>
    <title>Bandit.io - </title>
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <% stylesheet('/stylesheets/style.css') -%>
    <link rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/github.min.css">

    <%-stylesheets%>


</head>

<body>


<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse ">
    <!-- BEGIN TOP NAVIGATION BAR -->
    <div class="navbar-inner">
        <div class="header-seperation">
            <ul class="nav pull-left notifcation-center" id="main-menu-toggle-wrapper" style="display:none">
                <li class="dropdown"> <a id="main-menu-toggle" href="#main-menu"  class="" >
                        <div class="iconset top-menu-toggle-white"></div>
                    </a> </li>
            </ul>
            <!-- BEGIN LOGO -->
            <a href="index.html"><img src="/images/banner-white.png" class="logo"  width="106" height="21"/></a>
            <!-- END LOGO -->
            <ul class="nav pull-right notifcation-center">
                <li class="dropdown" id="header_task_bar"> <a href="index.html" class="dropdown-toggle active" data-toggle="">
                        <div class="iconset top-home"></div>
                    </a> </li>
            </ul>
        </div>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <div class="header-quick-nav" >
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="pull-left">
                <ul class="nav quick-section">
                    <li class="quicklinks"> <a href="#" class="" id="layout-condensed-toggle" >
                            <div class="iconset top-menu-toggle-dark"></div>
                        </a> </li>
                </ul>
                <ul class="nav quick-section">
                    <li class="quicklinks"> <a href="#" class="" >
                            <div class="iconset top-reload"></div>
                        </a> </li>
                    <li class="quicklinks"> <span class="h-seperate"></span></li>
                    <li class="quicklinks"> <a href="#" class="" >
                            <div class="iconset top-tiles"></div>
                        </a> </li>
                    <div class="input-prepend inside search-form no-boarder"> <span class="add-on"> <a href="#" class="" >
                                <div class="iconset top-search"></div>
                            </a></span>
                        <input name="" type="text"  class="no-boarder " placeholder="Search Dashboard" style="width:250px;">
                    </div>
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
            <!-- BEGIN CHAT TOGGLER -->
            <div class="pull-right">

                <ul class="nav quick-section ">
                    <li class="quicklinks">
                        <a data-toggle="dropdown" class="dropdown-toggle  pull-right" href="#">
                            <div class="iconset top-settings-dark "></div>
                        </a>
                        <ul class="dropdown-menu  pull-right" role="menu" aria-labelledby="dropdownMenu">
                            <li><a href="user-profile.html"> My Account</a>
                            </li>
                            <li><a href="calender.html">My Calendar</a>
                            </li>
                            <li><a href="email.html"> My Inbox&nbsp;&nbsp;<span class="badge badge-important animated bounceIn">2</span></a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="login.html"><i class="icon-off"></i>&nbsp;&nbsp;Log Out</a></li>
                        </ul>
                    </li>
                    <li class="quicklinks"> <span class="h-seperate"></span></li>
                    <li class="quicklinks">
                        <a id="chat-menu-toggle" href="#sidr" class="chat-menu-toggle" ><div class="iconset top-chat-dark "><span class="badge badge-important hide" id="chat-message-count">1</span></div>
                        </a>
                        <div class="simple-chat-popup chat-menu-toggle hide" >
                            <div class="simple-chat-popup-arrow"></div><div class="simple-chat-popup-inner">
                                <div style="width:100px">
                                    <div class="semi-bold">David Nester</div>
                                    <div class="message">Hey you there </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- END CHAT TOGGLER -->
        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->

<!-- BEGIN CONTAINER -->
<div class="page-container row-fluid">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar" id="main-menu">
        <!-- BEGIN MINI-PROFILE -->
        <div class="user-info-wrapper">
            <div class="profile-wrapper">
                <img src="assets/img/profiles/avatar.jpg" data-src="assets/img/profiles/avatar.jpg" data-src-retina="assets/img/profiles/avatar2x.jpg" width="69" height="69" />
            </div>
            <div class="user-info">
                <div class="greeting">Welcome</div>
                <div class="username">John <span class="semi-bold">Smith</span></div>
                <div class="status">Status<a href="#"><div class="status-icon green"></div>Online</a></div>
            </div>
        </div>
        <!-- END MINI-PROFILE -->

        <!-- BEGIN MINI-WIGETS -->

        <!-- END MINI-WIGETS -->

        <!-- BEGIN SIDEBAR MENU -->
        <p class="menu-title">BROWSE</p>
        <ul>
            <li class="start active "> <a href="index.html"> <i class="icon-custom-home"></i> <span class="title">Snoop</span> <span class="selected"></span> <span class="badge badge-important pull-right">5</span></a> </li>
            <li class=""> <a href="/meddle"> <i class="icon-custom-ui"></i> <span class="title">Meddle</span></a>
            </li>
            <li class=""> <a href="/settings"> <i class="icon-custom-chart"></i> <span class="title">Settings</span> </a> </li>
            <li class=""> <a href="/files"> <i class="icon-custom-extra"></i> <span class="title">Files</span></a>
            </li>
            <li class=""> <a href="/about"> <i class="icon-custom-extra"></i> <span class="title">About</span></a>
            </li>
            <li class="hidden-lg hidden-md hidden-xs" id="more-widgets" >
                <a href="javascript:;"> <i class="icon-ellipsis-horizontal"></i></a>
                <ul class="sub-menu">
                    <div class="side-bar-widgets">
                        <p class="menu-title">FOLDER <span class="pull-right"><a href="#" class="create-folder"><i class="icon-plus"></i></a></span></p>
                        <ul class="folders" id="folders">
                            <li><a href="#"><div class="status-icon green"></div> My quick tasks </a> </li>
                            <li><a href="#"><div class="status-icon red"></div> To do list </a> </li>
                            <li><a href="#"><div class="status-icon blue"></div> Projects </a> </li>
                            <li id="folder-input" class="folder-input" style="display:none"><input type="text" placeholder="Name of folder" class="no-boarder folder-name" name="" id="folder-name"></li>
                        </ul>
                        <p class="menu-title">PROJECTS </p>
                        <div class="status-widget">
                            <div class="status-widget-wrapper">
                                <div class="title">Freelancer<a href="#" class="remove-widget"><i class="icon-custom-cross"></i></a></div>
                                <p>Redesign home page</p>
                            </div>
                        </div>
                        <div class="status-widget">
                            <div class="status-widget-wrapper">
                                <div class="title">envato<a href="#" class="remove-widget"><i class="icon-custom-cross"></i></a></div>
                                <p>Statistical report</p>
                            </div>
                        </div>
                    </div>
                </ul>
            </li>
        </ul>
        <div class="side-bar-widgets">
            <p class="menu-title">Shortcuts <span class="pull-right"></span></p>
            <ul class="folders" id="folders">
                <li><a href="#"><div class="status-icon green"></div> Active Pages </a> </li>
                <li><a href="#"><div class="status-icon red"></div> Errors </a> </li>
                <li><a href="#"><div class="status-icon yellow"></div> Favorites </a> </li>
                <li id="folder-input" class="folder-input" style="display:none"><input type="text" placeholder="Name of folder" class="no-boarder folder-name" name="" id="folder-name"></li>
            </ul>
            <p class="menu-title">PROJECTS </p>
            <div class="status-widget">
                <div class="status-widget-wrapper">
                    <div class="title">Freelancer<a href="#" class="remove-widget"><i class="icon-custom-cross"></i></a></div>
                    <p>Redesign home page</p>
                </div>
            </div>
            <div class="status-widget">
                <div class="status-widget-wrapper">
                    <div class="title">envato<a href="#" class="remove-widget"><i class="icon-custom-cross"></i></a></div>
                    <p>Statistical report</p>
                </div>
            </div>
        </div>
        <a href="#" class="scrollup">Scroll</a>
        <div class="clearfix"></div>
        <!-- END SIDEBAR MENU -->
    </div>
    <div class="footer-widget">
        <div class="progress transparent progress-small no-radius no-margin">
            <div class="progress-bar progress-bar-success animate-progress-bar" data-percentage="79%" style="width: 79%;"></div>
        </div>
        <div class="pull-right">
            <div class="details-status">
                <span class="animate-number" data-value="86" data-animation-duration="560">86</span>%
            </div>
            <a href="lockscreen.html"><i class="icon-off"></i></a></div>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN PAGE CONTAINER-->
    <div class="page-content" ng-view>
        <!-- BEGIN PAGE -->
            <%-body -%>
            <!-- END PAGE -->
    </div>
</div>

<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<!-- END FOOTER -->

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular-route.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
<% script('/javascripts/bandit-angular/app.js') -%>
<% script('/javascripts/bandit-angular/services/services.js') -%>
<% script('/javascripts/bandit-angular/controllers.js') -%>
<% script('/javascripts/bandit-angular/directives/directives.js') -%>
<% script('/javascripts/bandit-angular/directives/bootstrap-prettify.js') -%>
<% script('/components/angular-socket-io/socket.js') -%>
<% script('/components/pouchdb-nightly.min.js/index.js') -%>
<% script('/components/angular-pouchdb/angular-pouchdb.js') -%>
<% script('/components/humanize/humanize.js') -%>
<% script('/components/angular-bootstrap-0.7.0/ui-bootstrap-tpls-0.7.0-snapshot.min.js') -%>
<% script('/components/highlightjs/highlight.pack.js') -%>
<% script('/components/angular-highlightjs/angular-highlightjs.min.js') -%>

<% if (room_id) { %>
<script>
    var ROOM_ID = '<%= room_id %>';
    console.log('listening to room: <%= room_id %>')

</script>
<% } %>
<%-scripts%>
</body>

</html>